<div class="container">
  <div id="header">
  </div>
  <h1>Home</h1>
</div>
<div class="container">
<h3>Menu</h3>
  <ul>
    <li>
      <a href="teamtab">Team Tab</a>
    </li>
    <li>
      <a href="meetmarket">Meet Market</a>
    </li>
    <li>
      <a href="lifterlist">Lifter List</a>
    </li>
  </ul>
</div>
